html{
    height: 100%;
    margin: 0px;
}
body {
    font-family: sans-serif;
    color: white;
    background-color:#424242;

    height: 100%;
    margin: 0px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 500%;
    padding-top: 150px;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.banner {
    display: block;
   margin: auto;
}
.bg1{
    height: 100%;
   
    background-color: #4f4e4e;
    background-attachment: fixed;
    
}

.bg2{
   
    background-image:url("i.imgur.com/NcAQ68k.png");
    background-color:#3f3d3d;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    
}

.list1 {
    font-size: 300%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-top: 25%;
}

a:hover{
    text-decoration: none;
    background-color:#f7cf09;
    color: black;
    padding-right: 60px;
      padding-left: 60px;
      font-size: 150%;
      border-radius: 10px;
}
    