body {
    font-family: sans-serif;
    color: white;
    background-color:#424242;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.banner {
    margin-left: 450px;
   padding-top: 50px;
}
    